- title "#{@city_name}#{@brand_name}钟点房_#{@city_name}#{@brand_name}小时房在预订,价格查询及团购多少钱"
- keywords "#{@brand_name}钟点房,#{@brand_name}小时房,#{@brand_name}钟点房预订,#{@brand_name}钟点房价格"
- head_desc "#{@city_name}#{@brand_name}钟点房、小时房在线预订、团购以及多少钱价格查询——滴滴住宿。"

- lang "zh-CN"
- lang_array = [["zh-CN","http://www.ddzhusu.com/clockhotel/city/#{URI.encode(@city_name)}/brand/#{URI.encode(@brand_name)}/"]]
- alternate("http://www.ddzhusu.com/clockhotel/city/#{URI.encode(@city_name)}/brand/#{URI.encode(@brand_name)}/", lang_array)

= render partial: '/bk/header'

%section.container
  .row
    %nav
      %ol.breadcrumb
        %li.breadcrumb-item.active
          %a{href: "/", title: "特色民宿客栈"} 首页
        %li.breadcrumb-item.active
          %a{href: "/clockhotel/"} 钟点房小时房预订
        %li.breadcrumb-item.active
          %a{href: "/clockhotel/city/#{URI.encode(@city_name)}/"} #{@city_name}钟点房
        %li.breadcrumb-item
          %h1.text-muted{style: "font-size: 16px;"} #{@city_name}#{@brand_name}钟点房

  .row
    %article
      .col-12
        %h2 #{@city_name}#{@brand_name}钟点房
        %hr
      - @hotels.each_with_index do |hotel, index|
        .col-12
          %img.img-fluid{alt: "#{hotel.name}-钟点房图片", src: "http://img.yysssr.com/clock_hotel_#{hotel.id}.jpg"}
          %p
            %a{href:"/clockhotel/hotel/#{hotel.id}/"} #{hotel.name}#{hotel.room_hour}小时房
            %br
            价格：#{hotel['price']}元
            %br
            可预订时间：#{hotel['shop_time']}

    %aside.col-12
      %p
        %a{href: "/clockhotel/city/#{URI.encode(@city_name)}/"} #{@city_name}钟点房
        |
        %a{href: "/clockhotel/brand/#{URI.encode(@brand_name)}/"} #{@brand_name}钟点房

    %h3 随便看看
    - @rand_hotels.each do |h|
      .col-12
        %hr
        %a{href: "/hotel-#{h.url_path_md5}"}
          %h4 #{h.hotel_name}
        %p #{h.address}
        %img.img-fluid{src: "#{h.images.split("|||")[0]}", alt: "#{h.hotel_name}图片"}
