- title "#{@hotel.title}"
- keywords "#{@hotel.title},#{@hotel.title} booking,#{@hotel.title} reviews,#{@hotel.title} address,#{@hotel.title} price"
- head_desc " #{@hotel.title}: #{@description[0]}. ddzhusu.com provides you online booking service of #{@hotel.title}, you also can get the phone number, address, traffic infomation, reviews, prices of #{@hotel.title} here."
- mobile_url('m.ddzhusu.com',request.path) if request.host != 'm.ddzhusu.com'
- page_lang('en-us')

%section.container
  %article.row
    %h1.page-header #{@hotel.title}
    %div.col-md-6.col-sm-12.col-xs-12
      %img.img-responsive.img-thumbnail{alt: "image of #{@hotel.title}", src: "http://img.ddzhusu.com/booking_hotel_#{@hotel.country_en_short}_#{@hotel.en_short}.jpg"}
    %div.col-md-6.col-sm-12.col-xs-12
      %h2 #{@hotel.title} descritpion
      - @description.each do |desc|
        %p #{desc}
      %h2 Recommand
      - @recommand.each do |recommand|
        %p #{recommand.join('——')}
      %h2= "Facilities of #{@hotel.en_name}"
      - @facility.each do |fac|
        %p 
          %b #{fac[0]}
          = ": #{fac[1].join(' | ')}"
      - if @review.size > 0
        %h2= "Reviews for #{@hotel.en_name}"
        - @review.each do |review|
          %br
          = review
      - unless @hotel.notice.empty?
        %h2 The Fine Print
        %p #{@hotel.notice}
  %aside.row
    %h3.page-header Related Links
    %p
      - @countries.each do |country|
        %a{href: "/booking/country/#{country[0]}/", title: "#{country[1]} booking"}= "hotels in #{country[1]}"
      - @hotels.each do |hotel|
        %a{href:"/bookingen/hotel/#{hotel.id}/"} #{hotel.title}
