- title "#{@hotel.title}"
- keywords "#{@hotel.title},#{@hotel.title} booking,#{@hotel.title} reviews,#{@hotel.title} address,#{@hotel.title} price"
- head_desc " #{@hotel.title}: #{@description[0]}. ddzhusu.com provides you online booking service of #{@hotel.title}, you also can get the phone number, address, traffic infomation, reviews, prices of #{@hotel.title} here."

- lang @lang
- lang_array = [["en-US","http://www.ddzhusu.com/bookingen/hotel/#{@hotel.id}/"]]
- alternate("http://www.ddzhusu.com/bookingen/hotel/#{@hotel.id}/", lang_array)

= render partial: '/bk/header'

%section.container
  %article.row
    %h1 #{@hotel.title}
    %hr
    %img.img-fluid{alt: "image of #{@hotel.title}", src: "http://img.yysssr.com/booking_hotel_#{@hotel.country_en_short}_#{@hotel.en_short}.jpg"}
    .col-12{style: "margin-top: 10px;"}
      %h2 #{@hotel.title} descritpion
      %hr
      %p.alert.alert-info 
        - @description.each do |desc|
          #{desc}
          %br
      %h2 Recommand
      %p.alert.alert-info 
        - @recommand.each do |recommand|
          #{recommand.join('——')}
          %br
      %h2 Facilities of #{@hotel.en_name}
      - @facility.each do |fac|
        %p.alert.alert-info 
          %b #{fac[0]}
          ：#{fac[1].join(' | ')}
      - if @review.size > 0
        %h2 Reviews for #{@hotel.en_name}
        - @review.each_with_index do |review, index|
          %p.alert.alert-success Review #{index+1}：#{review}
      - unless @hotel.notice.empty?
        %h2 The Fine Print
        %p.alert.alert-warning #{@hotel.notice}

  %aside.row
    %h3 Related Links
    - @countries.each do |country|
      .col-6.alert
        %a{href: "/booking/country/#{country[0]}/", title: "#{country[1]} booking"}= "hotels in #{country[1]}"
    - @hotels.each do |hotel|
      .col-6.alert
        %a{href:"/bookingen/hotel/#{hotel.id}/"} #{hotel.title}
