- title "#{@station_name}站_滴滴火车"
- keywords "#{@station_name}站,#{@station_name}火车站,#{@station_name}站时刻表,#{@station_name}火车站时刻表"
- head_desc "最新的#{@station_name}站火车时刻表，#{@station_name}火车票价，#{@station_name}火车票查询，#{@station_name}票价查询，#{@station_name}火车票预定，#{@station_name}火车票代售点等相关信息 - 滴滴火车"

.container
  .row
    .col-md-8.col-lg-8.col-sm-12
      .alert.alert-info
        %h1= "#{@station_name}火车站时刻表"
        %p.hidden-sm.hidden-xs= "#{@station_name}站列车时刻表，共有#{@train_numbers["all_checi"].size}次列车经过#{@station_name}站，以下是车次详情#{"(100个)" if @train_numbers["all_checi"].size > 100}："
      %table.table.table-bordered
        %thead
          %tr.info
            %th.text-center 车次
            %th.text-center 始发站/途经站/终点站
            %th.text-center 本站发车时间
            %th.text-center 到达本站时间
        %tbody
          - @train_numbers["details"].each_with_index do |detail, index|
            %tr.text-center
              %td
                %a{href:"http://www.ddzhusu.com/train/numbers/#{detail["train_number"]}/"}= "#{detail["train_type"]}#{detail["train_number"]}"
              %td
                - if detail["pass_type"] == '途经站'
                  = detail["pass_stations"][0] 
                  = ' - '
                  = detail["pass_stations"][1] 
                  = ' - '
                  = detail["pass_stations"][2] 
                - else
                  = detail["pass_stations"][0] 
                  = ' - '
                  = detail["pass_stations"][1] 
              %td= detail["depart_time"]
              %td= detail["arrival_time"]
    .col-md-4.col-lg-4.col-sm-12
      .alert.alert-info
        %h3= "#{@station_name}站火车票预售期"
        %p= "火车票今日（#{@date}）可购至："
        %p= "电话、网络购票——#{@date + 59}"
        %p= "代售点、车站购票——#{@date + 57}"
       
      .alert.alert-warning
        %h3 火车网购票提示
        %p 购买火车票，铁道部官方售票渠道仅限12306.cn和电话95105105。当前网络和电话提前60天预售，查看详情。通过非官方渠道购买，请务必慎重！ 
        %p 电话购票，请在购票电话95105105前加拨区号。

      .alert.alert-success
        %h3= "#{@station_name}火车站地图"
        %img{src:"http://api.map.baidu.com/staticimage?center=#{@station.lng},#{@station.lat}&width=328&height=328&zoom=14&copyright=1&markers=#{@station.lng},#{@station.lat}&markerStyles=l,,0xff3333", alt:"#{@station_name}火车站地图", rel:"nofollow"} 
        %p= "#{@station_name}火车站地址：#{@station.address}"
        %p= "#{@station_name}火车站电话：#{@station.tel}"

      .alert.alert-info
        %h3= "#{@station_name}站周边景点、银行、地铁"
        %p= @station.detail.related_desc

    .col-md-8.col-lg-8.hidden-sm.hidden-xs
      %h2 相关火车站车次列表
      %div
        %ul.nav.nav-tabs
          %li.active
            %a{"href" => "#station1", "data-toggle" => "tab"}= "#{@station_name}站"
          - @related_train_numbers.sample(10).each_with_index do |related, index|
            %li
              %a{href:"#station#{index + 2}", "data-toggle" => "tab"}= "#{related["station"]}站"

        .tab-content
          .tab-pane.active.alert.alert-info#station1
            %p
              -@train_numbers["all_checi"].sample(10).each do |train_number|
                %a{href:"http://www.ddzhusu.com/train/numbers/#{train_number}/"}= train_number
          - @related_train_numbers.each_with_index do |related, index|
            %div{class:"tab-pane alert alert-info", id:"station#{index + 2}"}
              %p
                - related["all_checi"].sample(10).each do |train_number|
                  %a{href:"http://www.ddzhusu.com/train/numbers/#{train_number}/"}= train_number

