- title "#{@from.name}到#{@to.name}高铁动车组_滴滴住宿"
- keywords "#{@from.name}到#{@to.name}高铁，#{@from.name}到#{@to.name}动车"
- head_desc "#{@from.name}到#{@to.name}高铁动车时刻表、火车票、车次等相关查询，滴滴住宿尽力为您提供这些信息。"
- mobile_url('m.ddzhusu.com',request.path) if request.host != 'm.ddzhusu.com'

%section.container
  %article.row.col-md-12
    %h1.page-header= "#{@from.name}到#{@to.name}高铁"
    %p
      滴滴住宿，尽力为您提供
      %b #{@from.name}到#{@to.name}
      高铁动车时刻表、火车票、车次等相关信息~
    %h2.page-header= "#{@from.name}至#{@to.name}动车时刻表"
    %p 
      %b #{@from.name}-#{@to.name}
      高铁今日共有#{@numbers.size}次，下面是其具体信息。
    - @numbers.each do |num|
      %h3.page-header= num.name
      - JSON.parse(num.infos).each_with_index do |data, index|
        - if data["stationName"] == @from.name || data["stationName"] == @to.name
          %p.alert.alert-success
            - if data["stationName"] == @from.name || data["stationName"] == @to.name
              %b= data["stationName"]
            - else
              = data["stationName"]
            = "，站次：#{index + 1}，到达时间：#{data["arrivalTime"]}，发车时间：#{data["departTime"]}，停留时间：#{data["stopTime"]}"
        - else 
          %p
            - if data["stationName"] == @from.name || data["stationName"] == @to.name
              %b= data["stationName"]
            - else
              = data["stationName"]
            = "，站次：#{index + 1}，到达时间：#{data["arrivalTime"]}，发车时间：#{data["departTime"]}，停留时间：#{data["stopTime"]}"
  %aside.row.col-md-12
    %h2.page-header 热门出行高铁动车组车次信息
    %p.alert.alert-info
      - @related_urls.each do |url|
        %a{href: "/train/timetable/#{url.values.first}/gaotie.html"}= url.keys.first
      %a{href: "/train/timetable/#{@from.pinyin}-#{@to.pinyin}/"}= "#{@from.name}到#{@to.name}火车"
