- title "全国热门高铁时刻表_滴滴高铁"
- keywords "高铁，高铁时刻表"
- head_desc "精选全国共#{@lines.size}条高铁线路，提供票价查询，途经车站查询，时刻表查询等功能，滴滴高铁。"

.container
  .row
    .col-md-12.col-lg-12.col-sm-12
      %section
        %h1.page-header 全国热门高铁时刻表
        %p
          - @lines.each do |line|
            %a{href:"http://gaotie.ddzhusu.com/gt-#{URI.encode(line.from_name)}-#{URI.encode(line.to_name)}/"} #{line.from_name}到#{line.to_name}高铁时刻表
