- title "#{@line.title.empty? ? "#{@from_to}高铁时刻表" : @line.title }_滴滴高铁"
- keywords "#{@from_to}高铁，#{@from_to}高铁时刻表"
- head_desc "#{@from_to}高铁动车时刻表、火车票、车次、经过哪些车站等相关查询，滴滴高铁尽力为您提供这些信息。"
- mobile_url('m.ddzhusu.com',request.path) if request.host != 'm.ddzhusu.com'

%section.container
  .row
    %article.col-md-8.col-lg-8.col-sm-12
      %h1.page-header #{@from_to}高铁
      .alert.alert-info.hidden-sm.hidden-xs
        %p= "#{@from_to}的高铁时刻表（含动车与城际高速），共#{@gaotie_list.size}次。票价#{@gaotie_info['min_price']}起，最短用时#{@gaotie_info['duration']}，#{@from_to}距离#{@gaotie_info['distance']}。"
      %table.table.table-bordered
        %tr.info
          %th.text-center 车次
          %th.text-center 时刻
          %th.text-center 车站
          %th.text-center 票价
        - @gaotie_list.each do |shike|
          %tr.text-center
            %td
              %a{href:"http://www.ddzhusu.com/train/numbers/#{shike['checi']}/"}= shike['checi']
              %br
              %br
              %strong= get_train_type(shike['checi'][0]) 
            %td
              %span= shike['depart_time']
              %br
              %span= shike['arrival_time']
              %br
              %span= shike['duration'] 
            %td
              = shike['start_name']
              %br
              = '-'
              %br
              = shike['end_name']
            %td= shike['prices'].map{|t| "#{t['seat_type']} ￥#{t['price']}"}.join("<br/>").html_safe
      - if @gaotie_list.size.zero?
        %p.alert.alert-warning
          %strong 并没有~

      .alert.alert-info.hidden-sm.hidden-xs
        %p= "#{@from_to}的非高铁列车时刻表（含直达、空调快速、特快、普快、临客），共#{@normal_list.size}次。最便宜的票#{@normal_info['min_price']}，耗时#{@normal_info['duration']}，距离#{@normal_info['distance']}。"
      %table.table.table-bordered
        %tr.info
          %th.text-center 车次
          %th.text-center 时刻表
          %th.text-center 车站
          %th.text-center 余票
        - @normal_list.each do |shike|
          %tr.text-center
            %td
              %a{href:"http://www.ddzhusu.com/train/numbers/#{shike['checi']}/"}= shike['checi']
              %br
              %br
              %strong= get_train_type(shike['checi'][0]) 
            %td
              %span= shike['depart_time']
              %br
              %span= shike['arrival_time']
              %br
              %span= shike['duration']
            %td
              = shike['start_name']
              %br
              = '-'
              %br
              = shike['end_name']
            %td= shike['prices'].map{|t| "#{t['seat_type']} ￥#{t['price']}"}.join("<br/>").html_safe
      - if @normal_list.size.zero?
        %p.alert.alert-warning
          %strong 并没有~

    %aside.col-md-4.col-lg-4.col-sm-12
      %h2.page-header #{@from_to}高铁票预售期
      .alert.alert-info
        %p= "高铁票今日（#{@date}）可购至："
        %p= "电话、网络购票——#{@date + 59}"
        %p= "代售点、车站购票——#{@date + 57}"
       
      %h2.page-header 近期公休假放假安排
      .alert.alert-success
        %p 中秋节：9月26日 ~ 9月27日 
        %p 国庆节：10月1日 ~ 10月7日 
        %p 元旦/新年：1月1日 ~ 1月3日 
        %p 今天已经可以购买国庆假期的高铁票，长假出游人多，合理计划行程。

      %h2.page-header 乘火车装备推荐 - 出行更舒适
      .alert.alert-info
        %p 
          站票必备：
          %a{href:"#"} 折凳
          火车站售卖的折凳10元1个，在网上买要便宜很多。
        %p
          硬座：
          %a{href:"#"} 充气枕
          保护颈椎，睡得更香。
        %p 常规：零食 图书 充电宝 现在多数高铁、动车组车次座位上提供电源插座了，很好很强大。
        %p PS：现在火车上的空调给的特别足，建议乘车时带个外套，以免着凉。

      - if@stations.size > 0
        %h2.page-header #{@from_to}经过哪些车站？ 
        .alert.alert-info
          %p
            - @stations.each do |key,value|
              %span= value

      %h2.page-header 买火车票注意事项
      .alert.alert-warning
        %p 
          %strong 关于取票
          火车站售票窗口、铁路客票代售点或车站自动售取票机均可取票，取票需携带有效身份证件（自动取票机需要居民二代身份证）。
        %p 
          %strong 关于退票
          在12306.cn网站购票、改签和退票须不晚于开车前30分钟。已取票的乘客，如需退票，请凭购票有效证件在发车前到火车站退票窗口办理。
        %p 
          %strong 火车票退票费用 
          无票或取消订单退款到帐时间约为3-21天，按银行规定时限原渠道返还。开车时间15天（不含）以上退票的，不收退票费；15天（含）以内48小时以上的按票价5%计；24小时以上、不足48小时的按票价10%计；不足24小时的按票价20%计。并按照最低2元/张收取退票费。如果改签后乘车日期在春运期间收取20%的退票费。最终退款以铁路局实退为准。
        %p 
          %strong 关于改签 
          办理“变更到站”业务时，请不晚于开车前48小时。如果已经取票，需携带购票有效证件原件和火车票，在火车发车前，前去始发地火车站窗口，按照铁路局相关规定办理。
          
      = render partial: "layouts/right_suggestions", locals: {model: @line}
      = render partial: "layouts/right_related_keywords", locals: {model: @line}
      = render partial: "layouts/links", locals: {links: @links}
      = render partial: "layouts/friend_links", locals: {friend_links: get_friend_links}
