- title "全国热门火车时刻表_滴滴高铁"
- keywords "火车，火车时刻表"
- head_desc "精选全国共#{@lines.size}条火车线路，提供票价查询，途经车站查询，时刻表查询等功能，滴滴高铁。"

.container
  .row
    .col-md-12.col-lg-12.col-sm-12
      %section
        %h1.page-header 全国热门火车时刻表
        %p
          - @lines.each do |line|
            %a{href:"http://huoche.ddzhusu.com/hc-#{URI.encode(line.from_name)}-#{URI.encode(line.to_name)}/"} #{line.from_name}到#{line.to_name}火车时刻表
        %h2.page-header 全国热门火车票车次
        %p
          - @trains.each do |t|
            %a{href: "http://www.ddzhusu.com/train/numbers/#{t.name}/"} #{t.name}
