<% title("特色民宿客栈网-滴滴住宿")%>
<% keywords("滴滴住宿,特色民宿客栈,民宿,特色民宿,民宿客栈,特色客栈,民宿短租,民宿网,民宿预定,民宿预订")%>
<% head_desc("滴滴住宿-全球特色民宿客栈网，为您提供国内外特色住宿客栈信息查询及预订服务。您可以查询到特色民宿的图片、间夜价格、短租行情、过往用户评价等等信息，方便您的出行，为您的旅游入住决策提供帮助！")%>

<%= render partial: "layouts/booking_search_header"%>
<article class="container">
  <div class="row">
    <h1 class="hidden">特色民宿客栈</h1>
    <div class="col-md-12">
      <h2 class="page-header">热门旅游城市住宿</h2>
      <div class="col-md-4">
        <a href="/booking/city/79419/">
          <div style="background-image:url(http://img.yysssr.com/booking_city_tw_tai-nan.jpg);height:120px">
            <div style="padding:5px;margin:5px;background:rgba(0,0,0,0.6);color:#fff;width:180px">
              <h3>台湾台南酒店</h3>
              <p>共有60家酒店/宾馆/住宿</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/booking/city/53083/">
          <div style="background-image:url(http://img.yysssr.com/booking_city_tw_chiao-hsi.jpg);height:120px">
            <div style="padding:5px;margin:5px;background:rgba(0,0,0,0.6);color:#fff;width:180px">
              <h3>台湾礁溪酒店</h3>
              <p>共有55家酒店/宾馆/住宿</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/booking/city/61706/">
          <div style="background-image:url(http://img.yysssr.com/booking_city_tw_chiayi-city.jpg);height:120px">
            <div style="padding:5px;margin:5px;background:rgba(0,0,0,0.6);color:#fff;width:180px">
              <h3>台湾嘉义市酒店</h3>
              <p>共有34家酒店/宾馆/住宿</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/booking/city/39831/">
          <div style="background-image:url(http://img.yysssr.com/booking_city_tw_chiu-fen.jpg);height:120px">
            <div style="padding:5px;margin:5px;background:rgba(0,0,0,0.6);color:#fff;width:180px">
              <h3>台湾九份酒店</h3>
              <p>共有43家酒店/宾馆/住宿</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/booking/city/20676/">
          <div style="background-image:url(http://img.yysssr.com/booking_city_tw_yu-chih.jpg);height:120px">
            <div style="padding:5px;margin:5px;background:rgba(0,0,0,0.6);color:#fff;width:180px">
              <h3>台湾鱼池酒店</h3>
              <p>共有44家酒店/宾馆/住宿</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="/booking/city/69268/">
          <div style="background-image:url(http://img.yysssr.com/booking_city_tw_o-luan-pi.jpg);height:120px">
            <div style="padding:5px;margin:5px;background:rgba(0,0,0,0.6);color:#fff;width:180px">
              <h3>台湾鹅銮酒店</h3>
              <p>共有50家酒店/宾馆/住宿</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-12">
      <h2 class="page-header">热门民宿城市</h2>
      <div>
        <!-- Nav tabs -->
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" class="active"><a href="#tw" aria-controls="home" role="tab" data-toggle="tab">台湾</a></li>
          <li role="presentation"><a href="#jp" aria-controls="profile" role="tab" data-toggle="tab">日本</a></li>
          <li role="presentation"><a href="#kr" aria-controls="messages" role="tab" data-toggle="tab">韩国</a></li>
          <li role="presentation"><a href="#tg" aria-controls="settings" role="tab" data-toggle="tab">泰国</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" style="margin-top:20px">
          <div role="tabpanel" class="tab-pane active" id="tw">
            <div class="row">
            <% @places.select{|item| item.parent_id == 1}.each do |place|%>
              <div class="col-md-2">
                <a href="/fishnew/<%= URI.encode(place.name )%>/"><%= place.name %>民宿</a>
              </div>
            <% end %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="jp">
            <div class="row">
            <% @places.select{|item| item.parent_id == 2}.each do |place|%>
              <div class="col-md-2">
                <a href="/fishnew/<%= URI.encode(place.name )%>/"><%= place.name %>民宿</a>
              </div>
            <% end %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="kr">
            <div class="row">
            <% @places.select{|item| item.parent_id == 247}.each do |place|%>
              <div class="col-md-2">
                <a href="/fishnew/<%= URI.encode(place.name )%>/"><%= place.name %>民宿</a>
              </div>
            <% end %>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tg">
            <div class="row">
            <% @places.select{|item| item.parent_id == 114}.each do |place|%>
              <div class="col-md-2">
                <a href="/fishnew/<%= URI.encode(place.name )%>/"><%= place.name %>民宿</a>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <h2 class="page-header">品牌连锁酒店</h2>
      <% @brands.each do |brand|%>
        <div class="col-md-2">
          <a href="/ctrip/brand/<%= URI.encode(brand.name) %>/"><%= brand.title %>酒店</a>
        </div>
      <% end %>
    </div>
    <div class="col-md-12">
      <h2 class="page-header">家庭旅馆</h2>
      <% @themes.each do |theme|%>
        <div class="col-md-2">
          <a href="http://hotel.ddzhusu.com/theme-<%= URI.encode(theme.name) %>/"><%= theme.title %></a>
        </div>
      <% end %>
    </div>
    <div class="col-md-12" style="margin-bottom: 50px;">
      <h2 class="page-header">钟点房小时房</h2>
      <% @clock_cities.each do |city|%>
        <div class="col-md-2">
          <a href="/clockhotel/city/<%= URI.encode(city.name) %>/"><%= city.name %>钟点房</a>
        </div>
      <% end %>
    </div>
  </div>
</article>
