- title "#{@brand.title}#{@city_name}"
- keywords "#{@brand.title}#{@city_name},#{@city_name}#{@brand.title},#{@brand.name}#{@city_name},#{@city_name}#{@brand.name}"
- head_desc "#{@brand.title}#{@city_name}：共查询到#{@hotels.size}家酒店/宾馆，滴滴住宿为您提供#{@brand.title}在线预订、房间价格查询、地址电话查询等服务。"

- lang "zh-CN"
- lang_array = [["zh-CN","http://www.ddzhusu.com/ctrip/brand/#{URI.encode(@brand.name)}/city/#{URI.encode(@city_name)}/"]]
- alternate("http://www.ddzhusu.com/ctrip/brand/#{URI.encode(@brand.name)}/city/#{URI.encode(@city_name)}/", lang_array)

= render partial: '/bk/header'

%section.container
  .row
    %nav
      %ol.breadcrumb
        %li.breadcrumb-item.active
          %a{href: "/", title: "特色民宿客栈"} 首页
        %li.breadcrumb-item.active
          %a{href: "/ctrip/brand/#{URI.encode(@brand.name)}/"} #{@brand.name}酒店预订
        %li.breadcrumb-item
          %h1.text-muted{style: "font-size: 16px;"} #{@brand.name}#{@city_name}酒店预订
  %article.row
    %h2 #{@brand.title}#{@city_name}
    %hr
    - @hotels.each_with_index do |hotel, index|
      .col-12
        %h3 #{hotel.title}
        %hr
        %img.img-fluid{src:"http://7xnj96.com1.z0.glb.clouddn.com/ctrip_hotel_#{hotel.id}.jpg", alt:"#{@brand.name}图片_#{index}"}
        %p 全称：#{hotel.hotel_name}
        %p 地址：#{hotel.address}
        %p 价格：#{hotel.price}元起
        %p 评分：#{hotel.score}（5分制）
        %p
          %a{href: "/ctrip/hotel/#{hotel.id}/", title: "#{hotel.title}"} 预订#{hotel.hotel_name}
        %p 简介：#{JSON.parse(@hotel_details[index].description).first}
        %p 评论：#{JSON.parse(@hotel_details[index].review).first}

  %aside.row
    -if @city_names.size > 0
      %h3 其他城市#{@brand.title}
      %hr
      - @city_names.each do |name|
        .col-6{style: "margin: 5px 0;"}
          %a{href:"/ctrip/brand/#{URI.encode(@brand.name)}/city/#{URI.encode(name)}/"} #{@brand.title}#{name}
    -if @hotels.size > 0
      %h3 热门酒店宾馆
      %hr
      - @hotels.each do |hotel|
        .col-6{style: "margin: 5px 0;"}
          %a{href:"/ctrip/hotel/#{hotel.id}/"} #{hotel.title}
    -if @brands.size > 0
      %h3 特价品牌酒店
      %hr
      - @brands.each do |brand|
        .col-6{style: "margin: 5px 0;"}
          %a{href:"/ctrip/brand/#{URI.encode(brand.name)}/"} #{brand.title}

    %h3 随便看看
    - @rand_hotels.each do |h|
      .col-12
        %hr
        %a{href: "/hotel-#{h.url_path_md5}"}
          %h4 #{h.hotel_name}
        %p #{h.address}
        %img.img-fluid{src: "#{h.images.split("|||")[0]}", alt: "#{h.hotel_name}图片"}
