- title "#{@country.name}酒店预订_滴滴住宿"
- keywords "#{@country.name}酒店,#{@country.name}酒店预订,#{@country.name}酒店价格,#{@country.name}酒店查询,#{@country.name}住宿,#{@country.name}住宿预订"
- head_desc "滴滴住宿为您搜索#{@country.name}酒店住宿价格查询及预订信息。通过对#{@country.name}酒店宾馆价格、位置、设施、品牌、星级及用户真实点评为你推荐高性价比酒店库存、在线预订#{@country.name}酒店，价格优惠实时折扣."
- lang @lang
- lang_array = [["zh-CN","http://www.ddzhusu.com/booking/country/#{@country.en_short}/"]]
- alternate("http://www.ddzhusu.com/booking/country/#{@country.en_short}/", lang_array)
- ld_json(@ld_json.to_json.html_safe)

= render partial: '/bk/header'

%section.container
  .row
    %nav
      %ol.breadcrumb
        %li.breadcrumb-item.active
          %a{href: "/", title: "特色民宿客栈"} 首页
        %li.breadcrumb-item
          %h1.text-muted{style: "font-size: 16px;"} #{@country.name}酒店民宿
  %article.row
    %h2 #{@country.name}酒店预订
    - @cities.each do |city|
      .col-12
        %img.img-fluid{src:"http://img.yysssr.com/booking_city_#{@country.en_short}_#{city[0]}.jpg", alt:"#{@country.name}#{city[1]}酒店图片"}
        %h3 #{@country.name}#{city[1]}酒店
        %p 共有#{city[2]}家酒店/宾馆/住宿

    %h3 #{@country.name}酒店价格查询
    - @hotels.each_with_index do |hotel, index|
      .col-12
        %hr
        %h4 #{hotel.title}
        %img.img-fluid{src:"http://img.yysssr.com/booking_hotel_#{@country.en_short}_#{hotel.en_short}.jpg", alt:"#{@country.name}酒店图片_#{index}"}
        - JSON.parse(hotel.description).each do |desc|
          %p= desc
        %p 评分#{hotel.score}（10分制）
        - if hotel.price > 0
          %p= "价格每晚#{hotel.price}起"
        %p
          %a{href:"/booking/hotel/#{hotel.id}/", title: "#{hotel.title}"} 预订#{hotel.title}
  %aside.row
    %h3 热门国家酒店查询
    - @countries.each do |country|
      .col-6
        .alert
          %a{href: "/booking/country/#{country[0]}/", title: "#{country[1]}酒店预订"} #{country[1]}酒店
    - if @cities_enabled.size > 0
      %h3 #{@country.name}热门城市
      - @cities_enabled.each do |city|
        .col-6
          .alert
            %a{href: "/booking/city/#{city.id}/", title: "#{city.title}酒店预订"} #{city.title}酒店

    %h3 随便看看
    - @rand_hotels.each do |h|
      .col-12
        %hr
        %a{href: "/hotel-#{h.url_path_md5}"}
          %h4 #{h.hotel_name}
        %p #{h.address}
        %img.img-fluid{src: "#{h.images.split("|||")[0]}", alt: "#{h.hotel_name}图片"}
