- title "#{@hotel.title}"
- keywords "#{@hotel.title},#{@hotel.title}预订,#{@hotel.title}评论,#{@hotel.title}地址,#{@hotel.title}价格"
- head_desc "#{@hotel.title}：#{@description [0]}。滴滴住宿为您提供#{@hotel.title}在线预订服务，您还可以在这里查询到#{@hotel.title}的电话、地址、交通、用户评论、房间价格等详细信息。"

- lang @lang
- lang_array = [["zh-CN","http://www.ddzhusu.com/booking/hotel/#{@hotel.id}/"]]
- alternate("http://www.ddzhusu.com/booking/hotel/#{@hotel.id}/", lang_array)
- ld_json(@ld_json.to_json.html_safe)

= render partial: '/bk/header'

%section.container
  .row
    %nav
      %ol.breadcrumb
        %li.breadcrumb-item.active
          %a{href: "/", title: "特色民宿客栈"} 首页
        %li.breadcrumb-item.active
          %a{href: "/booking/country/#{@country.en_short}/"} #{@country.name}酒店民宿
        %li.breadcrumb-item.active
          %a{href: "/booking/city/#{@city.id}/"} #{@city.name}酒店民宿
        %li.breadcrumb-item
          %h1.text-muted{style: "font-size: 16px;"} #{@hotel.title}

  %article.row
    %h2 #{@hotel.title}
    %hr
    %img.img-fluid{src: "http://img.yysssr.com/booking_hotel_#{@hotel.country_en_short}_#{@hotel.en_short}.jpg", alt: "#{@hotel.title}图片"}
    .col-12{style: "margin-top: 10px;"}
      %h3 #{@hotel.title}简介
      %hr
      %p.alert.alert-info 
        - @description.each do |desc|
          #{desc}
          %br
      %h3 推荐理由
      %p.alert.alert-info 
        - @recommand.each do |recommand|
          #{recommand.join('——')}
          %br
      %h3 酒店设施
      - @facility.each do |fac|
        %p.alert.alert-info 
          %b #{fac[0]}
          = "：#{fac[1].join(' | ')}"
      - if @review.size > 0
        %h3 用户评论
        - @review.each_with_index do |review, index|
          %p.alert.alert-success 评论#{index+1}：#{review}
      - unless @hotel.notice.empty?
        %h3 预订须知
        %p.alert.alert-warning #{@hotel.notice}
  %aside.row
    %h3 相关链接
    - @countries.each do |country|
      .col-6.alert
        %a{href: "/booking/country/#{country[0]}/", title: "#{country[1]}酒店预订"}= "#{country[1]}酒店"
    - @hotels.each do |hotel|
      .col-6.alert
        %a{href:"/booking/hotel/#{hotel.id}/"} #{hotel.title}
    %h3 随便看看
    - @rand_hotels.each do |h|
      .col-12
        %hr
        %a{href: "/hotel-#{h.url_path_md5}"}
          %h4 #{h.hotel_name}
        %p #{h.address}
        %img.img-fluid{src: "#{h.images.split("|||")[0]}", alt: "#{h.hotel_name}图片"}
