- title @title
- keywords @keywords
- head_desc @description
- lang @lang
- alternate("http://www.ddzhusu.com/hotel-#{@hotel.url_path_md5}", [["zh-CN","http://www.ddzhusu.com/hotel-#{@hotel.url_path_md5}"],["de", "http://www.ddzhusu.com/hotel-de-#{@hotel.url_path_md5}"]]) if @has_cn

= render partial: 'de_header'
%main.container
  .row
    %nav
      %ol.breadcrumb
        %li.breadcrumb-item.active
          %a{href: "/"} Startseite
        %li.breadcrumb-item.active
          #{@hotel.country_name} #{@hotel.hotel_type}
        %li.breadcrumb-item.active
          #{@hotel.region_name} #{@hotel.hotel_type}
        %li.breadcrumb-item.active
          #{@hotel.city_name} #{@hotel.hotel_type}
        %li.breadcrumb-item
          %h1.text-muted{style: "font-size: 16px;"} #{@hotel.title}
  .row
    %h2 #{@hotel.hotel_name}
    %hr
    %address.alert.alert-info Adresse: #{@hotel.address}
    %p.alert.alert-primary #{@hotel.images.split("|||").size} #{@hotel.hotel_type} Builder:
    - @hotel.images.split("|||").each_with_index do |image, index|
      .col-6.col-md-4
        %img.img-fluid{src: "#{image}", alt: "#{@hotel.hotel_name} builder #{index + 1}"}
  .row{style: "margin-top: 10px;"}
    %h3 #{@hotel.hotel_type} Einführung
    %hr
    %p.alert.alert-info 
      - @hotel.hotel_desc.split("|||").each do |desc|
        #{desc}
        %br
    %p.alert.alert-primary
      - @hotel.reasons.split("|||").each do |reason|
        #{reason}
        %br

  .row{style: "margin-top: 10px;"}
    %h3 #{Time.now.to_s[0,10]} Verfügbarkeit
    %hr
    %ul.list-group.list-group-flush
      - @hotel.rooms_table.split("|||").each_with_index do |room, index|
        %li.list-group-item 
          %span.text-secondary Zimmerkategorie #{index + 1}：#{room}

  .row{style: "margin-top: 10px;"}
    %h3 #{@hotel.hotel_type} Gästebewertungen
    %hr
    - @hotel.reviews.split(/\|+/).each_with_index do |review, index|
      %p.alert.alert-secondary Gästebewertungen #{index+1}：#{review.sub("Mehr erfahren", "")}

  .row{style: "margin-top: 10px;"}
    %h3 Beliebteste Ausstattungen
    %hr
    - @hotel.important_facilities.split("|||").each do |fa|
      .col-2
        %span.text-success #{fa}

  .row{style: "margin-top: 10px;"}
    %h3 Ausstattung von: #{@hotel.hotel_name} 
    %hr
    - @hotel.facilities.split("|||").each do |fa|
      .col-4
        .alert.alert-secondary
          %span #{fa}
  
  .row{style: "margin-top: 10px;"}
    %h3 Zu beachten
    %hr
    %p.alert.alert-info
      - @hotel.regulations.split("|||").each do |reg|
        #{reg}
        %br

  .row{style: "margin-top: 10px;"}
    %h3 Fragen und Antworten zur Unterkunft
    %hr
    - @hotel.qa.split("|||").each_with_index do |qa, index|
      .col-6
        .alert.alert-warning
          - q = qa.split(/\|\s?\|/)
          %p
            %em Fragen #{index + 1}：#{q[0]}
          %p #{q[1]}

  .row{style: "margin-top: 10px;"}
    %h3 Das Beste von #{@hotel.city_name}
    %hr
    - @hotel.pois.split("|||").each do |poi|
      .col-4
        .alert.alert-secondary
          %span #{poi}

  .row{style: "margin-top: 10px;"}
    %h3 #{@hotel.city_name} - Hotels und Unterkünfte
    %hr
    - @hotels.each do |h|
      .col-6
        .alert.alert-primary
          %a{href: "/hotel-#{h.url_path_md5}"} #{h.hotel_name}
