- title "#{@place.name}羽毛球馆"
- keywords "#{@place.name}羽毛球馆，#{@place.name}羽毛球馆查询，#{@place.name}羽毛球馆预订，#{@place.name}羽毛球馆团购" 
- head_desc "为您筛选出了#{@place.name}#{@halls.size}家羽毛球馆，查询#{@place.name}羽毛球馆详细信息，#{@place.name}羽毛球馆团购购买，在线预订#{@place.name}羽毛球馆场地。" 
- mobile_url('m.vxixi.com',request.path) if request.host != 'm.vxixi.com'

%section.container
