- title "#{@title}"
- keywords "#{@video.title}，#{@video.suggestions_keywords.split(',').join('，')}"
- head_desc "羽毛球比赛视频在线观看——#{@video.title}。视频标签：#{@video.tags.gsub(',','，')}。"

%section.container
  .row
    %article.col-md-8.col-lg-8.col-sm-12
      %h1.page-header #{@video.title}      
      %div{id: "ykplayer0", style: "width:100%;height:100%;", class: "hidden-lg hidden-md"}
      %div{id: "ykplayer1", class: "hidden-xs hidden-sm"}
      %p{style: "margin-top:10px", class: "alert alert-info"}
        %b 视频信息：
        %br
        发布于#{@video_info["published"]}
        %br
        已播放#{@video_info["view_count"]}次
        %br
        标签：
        - @video.tags.split(',').each do |tag|
          %span
            %b= tag
        %br
        - if @video_info["comments"]
          精彩评论：#{@video_info["comments"]}

    %aside.col-md-4.col-lg-4.col-sm-12
      - if @related_videos.size > 0
        %h3.page-header 相关视频
        %div
          - @related_videos.each_with_index do |video, index|
            - if index % 2 == 0
              .row
            .col-md-6.col-lg-6.col-sm-12{style: "margin-bottom: 10px"}
              %a{href:"#{video['url']}", title: "#{video['title']}"}
                %img.mg-responsive.img-thumbnail{alt: "#{video['title']}图片", src: "#{video['img_url']}", style: "width:100%"}
              %a{href:"#{video['url']}"}
                %u= video['title']

      = render partial: "layouts/right_suggestions", locals: {model: @video}
      = render partial: "layouts/right_related_keywords", locals: {model: @video}
      = render partial: "layouts/links", locals: {links: @links}
      = render partial: "layouts/friend_links", locals: {friend_links: get_friend_links}

- @tbk_title = '优质产品推荐'
= render partial: "layouts/taobao_products"

%script{type: "text/javascript", src: "http://player.youku.com/jsapi"}
  player0 = new YKU.Player('ykplayer0',{styleid: '0',client_id: '82ca06da2497bd12',vid:'#{@video.youku_id}',id:'yk0', autoplay: 'false', show_related: 'true'});
  player1 = new YKU.Player('ykplayer1',{styleid: '0',client_id: '82ca06da2497bd12',vid:'#{@video.youku_id}',id:'yk1', autoplay: 'false', show_related: 'true'});
%script{type: "text/javascript"}
  p_width = $("article")[0].clientWidth * 0.95;
  p_height = p_width * 0.75;
  $('#ykplayer1').css({"width": p_width, "height": p_height});
