- title "#{@title}"
- keywords "#{@video.title}，#{@video.suggestions_keywords.split(',').join('，')}"
- head_desc "羽毛球比赛视频在线观看——#{@video.title}。视频标签：#{@video.tags.gsub(',','，')}。"
- mobile_url('m.vxixi.com',request.path) if request.host != 'm.vxixi.com'

%section.container
  .row
    %article.col-md-8.col-lg-8.col-sm-12
      %h1.page-header #{@video.title}      
      %p.hidden{id: "source_link_p_0"}
        %a{"href" => "#","data-original" => "http://v.youku.com/v_show/id_#{@video.youku_id}.html","id" => "source_link_a_0","target" => "_blank"} 到视频源播放
      %div{id: "ykplayer0", style: "width:100%;height:100%;"}
      %p{style: "margin-top:10px", class: "alert alert-info"}
        %b 视频信息：
        %br
        发布于#{@video_info["published"]}
        %br
        已播放#{@video_info["view_count"]}次
        %br
        标签：
        - @video.tags.split(',').each do |tag|
          %span
            %b= tag
        %br
        - if @video_info["comments"]
          精彩评论：#{@video_info["comments"]}

    %aside.col-md-4.col-lg-4.col-sm-12
      - if @related_videos.size > 0
        %h3.page-header 相关视频
        %div
          - @related_videos.each_with_index do |video, index|
            - if index % 2 == 0
              .row
            .col-md-6.col-lg-6.col-sm-12{style: "margin-bottom: 10px"}
              %a{href:"#{video['url']}", title: "#{video['title']}"}
                %img.mg-responsive.img-thumbnail{alt: "#{video['title']}图片", src: "#{video['img_url']}", style: "width:100%"}
              %a{href:"#{video['url']}"}
                %u= video['title']

      = render partial: "layouts/right_suggestions", locals: {model: @video}
      = render partial: "layouts/right_related_keywords", locals: {model: @video}
      = render partial: "layouts/links", locals: {links: @links}
      = render partial: "layouts/friend_links", locals: {friend_links: get_friend_links}

- @tbk_title = '优质产品推荐'
= render partial: "layouts/taobao_products"


%script{type: "text/javascript", src: "http://gcw.vxixi.com/ykplayer/jsapi.js"}
%script{type: "text/javascript", src: "http://gcw.vxixi.com/ykplayer/set_jw.js"}
%script{type: "text/javascript"}
  var x0 = new JWP({client_id: '82ca06da2497bd12',vid:'#{@video.youku_id}',target:'ykplayer0'});x0.selectH5MP4();
