- title "#{@from_to}怎么走_滴滴地图"
- keywords "#{@from_to},#{@from_to}火车,#{@from_to}机票,#{@from_to}汽车,#{@from_to}自驾路线,#{@from_to}怎么走,#{@from_to}怎么坐车"
- head_desc @desc
- path("http://map.ddzhusu.com#{request.path}/")
- mobile_url('m.ddzhusu.com',request.path) if request.host != 'm.ddzhusu.com'

%section.container
  .row
    %article.col-md-8.col-lg-8.col-sm-12
      %h1.hidden #{@from_to}
      - if (@train + @train_normal).size.zero?
        %h2.page-header 乘火车从#{@from_to}
        .alert.alert-warning
          %p 未查询到#{@from_to}火车/高铁/动车直达车次，请您选择其它方式出行。
      - else
        %h2.page-header 乘火车从#{@from_to}
        .alert.alert-info
          %p
            共查询到#{@from_to}火车#{@train.size + @train_normal.size}次，其中
            %strong高铁
            #{"/"}
            %strong 动车组
            列车#{@train.size}次。

        %table.table.table-bordered
          %thead
            %tr.info
              %th.text-center 车次
              %th.text-center 时刻
              %th.text-center 车站
              %th.text-center 票价
            %tbody
              - (@train + @train_normal).each do |shike|
                %tr.text-center
                  %td
                    %a{href:"http://www.ddzhusu.com/train/numbers/#{shike['checi']}/"} #{shike['checi']}
                    %br
                    %br
                    %strong #{get_train_type(shike['checi'][0]) }
                  %td
                    %span #{shike['depart_time']}
                    %br
                    %span #{shike['arrival_time']}
                    %br
                    %span #{shike['duration']}
                  %td
                    #{shike['start_name']}
                    %br
                    #{'-'}
                    %br
                    #{shike['end_name']}
                  %td
                    #{shike['prices'].map{|t| "#{t['seat_type']} ￥#{t['price']}"}.join("<br/>").html_safe}
    
      - if @flight.size.zero?
        %h2.page-header 坐飞机从#{@from_to}
        .alert.alert-warning
          %p 未查询到#{@from_to}机票信息，可能是该条航线尚未开通，请您选择其它方式出行。
      - else
        %h2.page-header 坐飞机从#{@from_to}
        .alert.alert-info
          %p 以下是#{@from_to}飞机航班信息。
        %table.table.table-bordered
          %thead
            %tr.info
              %th.text-center 起飞/到达
              %th.text-center 航班号/飞机机型
              %th.text-center 出发城市/飞机场
              %th.text-center 到达城市/飞机场
          %tbody
            - @flight.each do |shike|
              %tr.text-center
                %td{style: "vertical-align:middle;"}
                  %span #{shike['departTime']}
                  %br
                  #{"-"}
                  %br
                  %span #{shike['arriveTime']}
                %td{style: "vertical-align:middle;"}
                  %span 
                    %a{href: "http://flight.ddzhusu.com/ftn-#{shike['flightNo']}/", title: "#{shike['flightNo']}航班时刻表"} #{shike['airlineCompanyName']} #{shike['flightNo']}
                  %br
                  #{"-"}
                  %br
                  %span 机型：#{shike['aircraftType']}
                %td{style: "vertical-align:middle;"}
                  %span 
                    %a{href: "http://flight.ddzhusu.com/ftc-#{URI.encode(@from_name)}/"} #{@from_name}
                  %br
                  #{"-"}
                  %br
                  %span #{shike['departPortName']}#{shike['departTerminal']}
                %td{style: "vertical-align:middle;"}
                  %span
                    %a{href: "http://flight.ddzhusu.com/ftc-#{URI.encode(@to_name)}/"} #{@to_name}
                  %br
                  #{"-"}
                  %br
                  %span #{shike['arrivePortName']}#{shike['arriveTerminal']}
    
      - if @bus.size.zero?
        %h2.page-header= "#{@from_to}怎么乘车？"
        .alert.alert-warning
          %p= "未查询到#{@from_to}汽车票信息，您可以再百度一下或者选择其它方式出行。"
      - else
        %h2.page-header= "#{@from_to}怎么乘车？"
        .alert.alert-info
          %p= "以下是#{@from_to}汽车票信息。"
        %table.table.table-bordered
          %thead
            %tr.info
              %th.text-center 车型与车次
              %th.text-center 发车时间
              %th.text-center 车站
              %th.text-center 汽车票价格
          %tbody
            - @bus.each do |bs|
              %tr.text-center
                %td= bs["bus_model"]
                %td= bs["depart_time"]
                %td
                  %span{style:"color:blue;"}= bs["from_station"]
                  %br
                  = '至'
                  %br
                  %span{style:"color:orange;"}= bs["to_station"]
                %td
                  %span= bs["price"]
    
      - if @car_route.size.zero?
        %h2.page-header= "#{@from_to} 自驾游"
        .alert.alert-warning
          %p= "未查询到#{@from_to}自驾线路，出发地点与目的地点不够明确，您可以在百度地图上输入明确的信息以得到结果，或者使用手机导航。"
      - else
        %h2.page-header= "#{@from_to} 自驾游"
        .alert.alert-info
          %p= "#{@from_to}驾车距离#{(@car_route['distance'].to_i / 1000).ceil}公里，预计耗时#{(@car_route['duration'].to_i / 3600).ceil}小时。请按以下路线行驶："
        .alert.alert-info
          %p
            - @car_route["instruction"].each_with_index do |it, index|
              = "#{index + 1}. #{it}"
              %br 

    %aside.col-md-4.col-lg-4.col-sm-12
      = render partial: "layouts/right_suggestions", locals: {model: @line}
      = render partial: "layouts/right_related_keywords", locals: {model: @line}
      = render partial: "layouts/links", locals: {links: @links}
      = render partial: "layouts/friend_links", locals: {friend_links: get_friend_links}
