<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield :title %></title>
    <meta name="keywords" content="<%= yield :keywords %>">
    <meta name="description" content="<%= yield :head_desc %>">
    <!-- 移动端url -->
    <meta http-equiv="mobile-agent" content="format=html5; url=<%=yield(:mobile_url)%>">
    <meta name="mobile-agent" content="format=html5; url=<%=yield(:mobile_url)%>">
    <!-- 禁止转码 -->
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- 声明适用设备-->
    <meta name="applicable-device" content="pc,mobile">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2YED046RR1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-2YED046RR1');
    </script>
    <style type="text/css">
      h1{
        font-size: 20px;
      }
      h2{
        font-size:18px;
      }
      h3{
        font-size:16px;
        margin-top:10px;
      }
    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3259544082307715"
     crossorigin="anonymous"></script>
  </head>
  <body>
    <%= render('/bus/header') %>
    <%= yield %>
    <%= render partial: "layouts/test_link"%>
    <%= render('layouts/inside_links') %>
    <%= render('/bus/footer') %>
  </body>
</html>
