<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield :title %></title>
    <meta name="keywords" content="<%= yield :keywords %>">
    <meta name="description" content="<%= yield :head_desc %>">
    <!-- 移动端url -->
    <meta http-equiv="mobile-agent" content="format=html5; url=<%=yield(:mobile_url)%>">
    <meta name="mobile-agent" content="format=html5; url=<%=yield(:mobile_url)%>">
    <!-- 禁止转码 -->
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- 声明适用设备-->
    <meta name="applicable-device" content="pc,mobile">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style type="text/css">
      h1{
        font-size: 20px;
      }
      h2{
        font-size:18px;
      }
      h3{
        font-size:16px;
        margin-top:10px;
      }
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-67697534-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <%= render('/gaotie/header') %>
    <%= yield %>
    <%= render('layouts/changyan_comments') %>
    <%= render('/gaotie/footer') %>
  </body>
</html>
