<!DOCTYPE html>
<% unless yield(:page_lang).empty? %>
<html lang="<%= yield(:page_lang) %>">
<% else %>
<html lang="zh-CN">
<% end %>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield :title %>_手机站</title>
    <meta name="keywords" content="<%= yield :keywords %>">
    <meta name="description" content="<%= yield :head_desc %>">
    <link rel="canonical" href="<%= yield(:path) %>">
    <!-- 禁止转码 -->
    <meta http-equiv="Cache-Control" content="no-transform">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- 声明适用设备-->
    <meta name="applicable-device" content="mobile">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2YED046RR1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-2YED046RR1');
    </script>
    <style type="text/css">
      h1{
        font-size: 20px;
      }
      h2{
        font-size:18px;
      }
      h3{
        font-size:16px;
        margin-top:10px;
      }
      .download{
        position: fixed;
        bottom: 0;
        z-index: 100;
        background: rgba(217,237,247,.85);
        width: 100%;
        height: 50px;
        overflow: hidden;
      }
      .download-img{
        width: 40px;
        height: 40px;
        float: left;
        background: url(http://pp.myapp.com/ma_icon/0/icon_6240_1513045653/96) center no-repeat;
        background-size: 40px 40px;
        margin: 5px 5px 5px 15px;
      }
      .download-title{
        margin: 8px 0 6px 8px;
        font-size: 13px;
        font-weight: 700;
        line-height: 15px;
        display: inline-block;
      }
      .download-desc{
        margin-left: 0 0 0 10px;
        font-size: 13px;
        line-height: 15px;
      }
      .download-button{
        float:right;
        top: -35px;
        right: 15px;
        position: relative;
        background: rgba(255,255,255,.85);
        border-color: #bce8f1;
      }
    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3259544082307715"
     crossorigin="anonymous"></script>
  </head>
  <body>
    <%= render('layouts/header') %>
    <%= yield %>
    <%= render('layouts/footer') %>
  </body>
</html>
