- title "#{@hotel.name}"
- keywords "#{@hotel.name},#{@hotel.name}预订,#{@hotel.name}评论,#{@hotel.name}地址,#{@hotel.name}价格"
- head_desc "#{@hotel.name}：#{@hotel.info}。滴滴住宿为您提供#{@hotel.name}在线预订服务，您还可以在这里查询到#{@hotel.name}的电话、地址、交通、用户评论、房间价格等详细信息。"
- mobile_url('m.ddzhusu.com',request.path) if request.host != 'm.ddzhusu.com'

%section.container
  %article.row
    %h1.page-header #{@hotel.name}
    %div.col-md-6.col-sm-12.col-xs-12
      %img.img-responsive.img-thumbnail{alt: "#{@hotel.name}图片", src: "http://7xnj96.com1.z0.glb.clouddn.com/fish_house_#{@hotel.id}.jpg"}
    %div.col-md-6.col-sm-12.col-xs-12
      %p= "简介：#{@hotel.info}"
      %p 
        推荐理由：
        %ul
          - @recommands.each do |recommand|
            %li= recommand
      %p
        评论：
        %br
        %strong= "#{@hotel.name}怎么样？ "
        %strong= "#{@hotel.name}住宿条件好不好？"
        听听其他小伙伴怎么评价的。
        - @comments.each do |comment|
          %br
          = comment
    %h2.page-header #{@hotel.name}预订
    - @rooms.each_with_index do |room, index|
      %div.col-md-4.col-sm-12.col-xs-12
        - if room["img_url"]
          %img.img-responsive.img-thumbnail{alt: "#{@hotel.name}-房间图片#{index}", src: "http://7xnj96.com1.z0.glb.clouddn.com/fish_house_#{@hotel.id}_room_#{index}.jpg"}
        %p
          = "房间：#{room['name']}"
          %br
          = "价格：#{room['price']}元"
          %br
          = "设施：#{room['device']}"
  %aside.row
    %h3.page-header 相关链接
    %p
      %a{href:"http://www.ddzhusu.com/fishnew/#{URI.encode(@place_1.name)}/"} #{@place_1.name}民宿
      - @place_2.each do |place|
        %a{href:"http://www.ddzhusu.com/fishnew/#{URI.encode(place.name)}/"} #{place.name}民宿
      - @hotels.each do |hotel|
        %a{href:"http://www.ddzhusu.com/fish/house/#{hotel.id}/"} #{hotel.name}
