- title "#{@place.name}民宿预订_滴滴住宿"
- keywords "#{@place.name}民宿，#{@place.name}住宿，#{@place.name}住宿预订，#{@place.name}民宿预订"
- head_desc "滴滴住宿为您搜索#{@place.name}民宿酒店价格查询及预订信息。通过对#{@place.name}民宿酒店宾馆价格、位置、设施、品牌、星级及用户真实点评为你推荐高性价比民宿库存、在线预订#{@place.name}民宿，价格优惠实时折扣."
- mobile_url('m.ddzhusu.com',request.path) if request.host != 'm.ddzhusu.com'
- get_friend_links 
%section.container
  %article.row
    %h1.hidden= "#{@place.name}民宿预订"
    %h2.page-header #{@place.name}民宿房间价格查询
    - @hotels.each_with_index do |hotel, index|
      %div
        %img.img-responsive.img-thumbnail{src:"http://7xnj96.com1.z0.glb.clouddn.com/fish_house_#{hotel.id}.jpg", alt:"#{@place.name}民宿图片_#{index}"}
        %h3= hotel.name
        %p= hotel.info
        %p= hotel.address
        %p= "价格每晚#{hotel.price}起"
        %p
          %a{href:"http://www.ddzhusu.com/fish/house/#{hotel.id}/", title:"#{hotel.name}"} 预订#{hotel.name}
    %h2 民宿推荐理由
    %div
      - @hotels.each do |hotel|
        - unless hotel.recommands.empty?
          %p= hotel.name + "推荐理由：" + JSON.parse(hotel.recommands).join('。')
    %h2 住宿评论
    %div
      - @hotels.each do |hotel|
        - unless hotel.comments.empty?
          %p= JSON.parse(hotel.comments)[0,5].join('。')
  %aside.row
    %h2 其他民宿与住宿查询
    %div
      - @places.each do |place|
        %a{href: "/fishnew/#{URI.encode(place.name)}/", title: "#{place.name}民宿"}= "#{place.name}民宿"
