- title "#{@place.name}民宿预订_滴滴住宿"
- keywords "#{@place.name}民宿，#{@place.name}住宿，#{@place.name}住宿预订，#{@place.name}民宿预订"
- head_desc "滴滴住宿为您搜索#{@place.name}民宿酒店价格查询及预订信息。通过对#{@place.name}民宿酒店宾馆价格、位置、设施、品牌、星级及用户真实点评为你推荐高性价比民宿库存、在线预订#{@place.name}民宿，价格优惠实时折扣."


- lang "zh-CN"
- lang_array = [["zh-CN","http://www.ddzhusu.com/fishnew/#{URI.encode(@place.name)}/"]]
- alternate("http://www.ddzhusu.com/fishnew/#{URI.encode(@place.name)}/", lang_array)

= render partial: '/bk/header'

- get_friend_links 
%section.container
  .row
    %nav
      %ol.breadcrumb
        %li.breadcrumb-item.active
          %a{href: "/", title: "特色民宿客栈"} 首页
        %li.breadcrumb-item
          %h1.text-muted{style: "font-size: 16px;"} #{@place.name}民宿预订

  %article.row
    .col-12
      %h2 #{@place.name}民宿房间价格查询
      %hr
    - @hotels.each_with_index do |hotel, index|
      .col-12
        %h3 #{hotel.name}
        %img.img-fluid{src:"http://img.yysssr.com/fish_house_#{hotel.id}.jpg", alt:"#{@place.name}民宿图片_#{index}", style: "margin-bottom: 10px;"}
        .alert.alert-info
          %p #{hotel.info}
          %p #{hotel.address}
          %p 价格每晚#{hotel.price}起
          %p
            %a{href: "/fish/house/#{hotel.id}/", title:"#{hotel.name}"} 预订#{hotel.name}
    .col-12
      %h3 民宿推荐理由
      - @hotels.each do |hotel|
        - unless hotel.recommands.empty?
          %p= hotel.name + "推荐理由：" + JSON.parse(hotel.recommands).join('。')
      %h3 住宿评论
      - @hotels.each do |hotel|
        - unless hotel.comments.empty?
          %p= JSON.parse(hotel.comments)[0,5].join('。')
  %aside.row
    .col-12
      %h3 其他民宿与住宿查询
      %p
        - @places.each do |place|
          %a{href: "/fishnew/#{URI.encode(place.name)}/", title: "#{place.name}民宿"}= "#{place.name}民宿"

    .col-12
      %h3 随便看看
    - @rand_hotels.each do |h|
      .col-12
        %hr
        %a{href: "/hotel-#{h.url_path_md5}"}
          %h4 #{h.hotel_name}
        %p #{h.address}
        %img.img-fluid{src: "#{h.images.split("|||")[0]}", alt: "#{h.hotel_name}图片"}
